# Dependencies
node_modules/
.pnp
.pnp.js
dist/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
.runtime/
.ruff_cache/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# IDE
.vscode/
.idea/
